<a href="https://colab.research.google.com/github/Talizg03/weather/blob/main/6_2_25V14ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Drop all rows with YearMade=1000

In [1]:
import pandas as pd
df = pd.read_csv("Train.csv")

<ipython-input-1-97fbf718528a>:2: DtypeWarning: Columns (13,23,25,27,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Train.csv")

In [3]:
missing_data = df.isna().sum()
print(missing_data[missing_data>0])

MachineHoursCurrentMeter    125266
UsageBand                   128192
fiSecondaryDesc              42476
fiModelSeries               139191
fiModelDescriptor           127893
ProductSize                  78331
Drive_System                108253
Enclosure                       55
Forks                        81432
Pad_Type                    120947
Ride_Control                 91562
Stick                       120947
Transmission                 69226
Turbocharged                120947
Blade_Extension             139786
Blade_Width                 139786
Enclosure_Type              139786
Engine_Horsepower           139786
Hydraulics                   31664
Pushblock                   139786
Ripper                      100763
Scarifier                   139786
Tip_Control                 139786
Tire_Size                   110403
Coupler                      83487
Coupler_System              142340
Grouser_Tracks              142356
Hydraulics_Flow             142356
Track_Type                  123069
Undercarriage_Pad_Width     123042
Stick_Length                123068
Thumb                       123064
Pattern_Changer             123069
Grouser_Type                123070
Backhoe_Mounting            113466
Blade_Type                  113420
Travel_Controls             113419
Differential_Type           123096
Steering_Controls           123099
dtype: int64

In [11]:
missing_percentages = (df.isna().sum() / len(df)) * 100
missing_percentages_sorted=missing_percentages[missing_percentages>0].sort_values(ascending=False)
print(missing_percentages_sorted)

Hydraulics_Flow             93.362278
Grouser_Tracks              93.362278
Coupler_System              93.351784
Pushblock                   91.676777
Blade_Extension             91.676777
Tip_Control                 91.676777
Scarifier                   91.676777
Engine_Horsepower           91.676777
Enclosure_Type              91.676777
Blade_Width                 91.676777
fiModelSeries               91.286555
UsageBand                   84.073008
fiModelDescriptor           83.876913
MachineHoursCurrentMeter    82.154030
Steering_Controls           80.732832
Differential_Type           80.730864
Grouser_Type                80.713813
Track_Type                  80.713157
Pattern_Changer             80.713157
Stick_Length                80.712501
Thumb                       80.709878
Undercarriage_Pad_Width     80.695449
Turbocharged                79.321471
Pad_Type                    79.321471
Stick                       79.321471
Backhoe_Mounting            74.415158
Blade_Type                  74.384989
Travel_Controls             74.384333
Tire_Size                   72.406330
Drive_System                70.996281
Ripper                      66.084065
Ride_Control                60.049712
Coupler                     54.753832
Forks                       53.406087
ProductSize                 51.372338
Transmission                45.400946
fiSecondaryDesc             27.857316
Hydraulics                  20.766411
Enclosure                    0.036071
dtype: float64

In [12]:
col_to_drop=missing_percentages_sorted[missing_percentages_sorted>91].index
df=df.drop(columns=col_to_drop)
print(col_to_drop)

Index(['Hydraulics_Flow', 'Grouser_Tracks', 'Coupler_System', 'Pushblock',
       'Blade_Extension', 'Tip_Control', 'Scarifier', 'Engine_Horsepower',
       'Enclosure_Type', 'Blade_Width', 'fiModelSeries'],
      dtype='object')

In [13]:
df = df[df['YearMade'] != 1000]

In [14]:
print(df.columns)

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Track_Type', 'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb',
       'Pattern_Changer', 'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type',
       'Travel_Controls', 'Differential_Type', 'Steering_Controls'],
      dtype='object')

In [15]:
print(df.shape)

(146385, 42)

In [16]:
import numpy as np

# Convert 'date_of_sale' to datetime format (ensure the correct format is used for 'saledate')
df['date_of_sale'] = pd.to_datetime(df['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Calculate car age, excluding rows where 'YearMade' is 1000
df['CarAge'] = df.apply(lambda row: (row['date_of_sale'] - pd.to_datetime(str(row['YearMade']), format='%Y')).days // 365 if row['YearMade'] != 1000 else np.nan, axis=1)

# View the updated dataframe
print(df.head())

   SalesID  SalePrice  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1139246      66000     999089     3157         121             3      2004
1  1139248      57000     117657       77         121             3      1996
2  1139249      10000     434808     7009         121             3      2001
3  1139251      38500    1026470      332         121             3      2001
4  1139253      11000    1057373    17311         121             3      2007

   MachineHoursCurrentMeter UsageBand         saledate  ... Thumb  \
0                      68.0       Low  11/16/2006 0:00  ...   NaN
1                    4640.0       Low   3/26/2004 0:00  ...   NaN
2                    2838.0      High   2/26/2004 0:00  ...   NaN
3                    3486.0      High   5/19/2011 0:00  ...   NaN
4                     722.0    Medium   7/23/2009 0:00  ...   NaN

  Pattern_Changer Grouser_Type Backhoe_Mounting Blade_Type Travel_Controls  \
0             NaN          NaN              NaN        NaN             NaN
1             NaN          NaN              NaN        NaN             NaN
2             NaN          NaN              NaN        NaN             NaN
3             NaN          NaN              NaN        NaN             NaN
4             NaN          NaN              NaN        NaN             NaN

  Differential_Type Steering_Controls date_of_sale CarAge
0          Standard      Conventional   2006-11-16      2
1          Standard      Conventional   2004-03-26      8
2               NaN               NaN   2004-02-26      3
3               NaN               NaN   2011-05-19     10
4               NaN               NaN   2009-07-23      2

[5 rows x 44 columns]

In [17]:
print(df.shape)

(146385, 44)

In [18]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146385 entries, 0 to 152476
Data columns (total 44 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   146385 non-null  int64
 1   SalePrice                 146385 non-null  int64
 2   MachineID                 146385 non-null  int64
 3   ModelID                   146385 non-null  int64
 4   datasource                146385 non-null  int64
 5   auctioneerID              146385 non-null  int64
 6   YearMade                  146385 non-null  int64
 7   MachineHoursCurrentMeter  22868 non-null   float64
 8   UsageBand                 21171 non-null   object
 9   saledate                  146385 non-null  object
 10  fiModelDesc               146385 non-null  object
 11  fiBaseModel               146385 non-null  object
 12  fiSecondaryDesc           105451 non-null  object
 13  fiModelDescriptor         24027 non-null   object
 14  ProductSize               71261 non-null   object
 15  fiProductClassDesc        146385 non-null  object
 16  state                     146385 non-null  object
 17  ProductGroup              146385 non-null  object
 18  ProductGroupDesc          146385 non-null  object
 19  Drive_System              42243 non-null   object
 20  Enclosure                 146331 non-null  object
 21  Forks                     67740 non-null   object
 22  Pad_Type                  30257 non-null   object
 23  Ride_Control              58099 non-null   object
 24  Stick                     30257 non-null   object
 25  Transmission              80113 non-null   object
 26  Turbocharged              30257 non-null   object
 27  Hydraulics                115995 non-null  object
 28  Ripper                    49847 non-null   object
 29  Tire_Size                 39822 non-null   object
 30  Coupler                   66070 non-null   object
 31  Track_Type                28533 non-null   object
 32  Undercarriage_Pad_Width   28554 non-null   object
 33  Stick_Length              28534 non-null   object
 34  Thumb                     28538 non-null   object
 35  Pattern_Changer           28533 non-null   object
 36  Grouser_Type              28532 non-null   object
 37  Backhoe_Mounting          37856 non-null   object
 38  Blade_Type                37892 non-null   object
 39  Travel_Controls           37893 non-null   object
 40  Differential_Type         27838 non-null   object
 41  Steering_Controls         27835 non-null   object
 42  date_of_sale              146385 non-null  datetime64[ns]
 43  CarAge                    146385 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(8), object(34)
memory usage: 50.3+ MB

In [19]:
df2=df.copy()
df2.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,CarAge
0,1139246,66000,999089,3157,121,3,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2006-11-16,2
1,1139248,57000,117657,77,121,3,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2004-03-26,8
2,1139249,10000,434808,7009,121,3,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-02-26,3
3,1139251,38500,1026470,332,121,3,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-05-19,10
4,1139253,11000,1057373,17311,121,3,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-07-23,2

In [20]:
print(df2.shape)

(146385, 44)

In [21]:
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.inspection import permutation_importance
import pandas as pd

# turn all string/category columns into integers

for col in df2.select_dtypes(['object']):
    df2[col] = df[col].astype('category')
df2.info()

for col in df2.select_dtypes(['category']):
    df2[col] = df2[col].cat.codes

df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146385 entries, 0 to 152476
Data columns (total 44 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   146385 non-null  int64
 1   SalePrice                 146385 non-null  int64
 2   MachineID                 146385 non-null  int64
 3   ModelID                   146385 non-null  int64
 4   datasource                146385 non-null  int64
 5   auctioneerID              146385 non-null  int64
 6   YearMade                  146385 non-null  int64
 7   MachineHoursCurrentMeter  22868 non-null   float64
 8   UsageBand                 21171 non-null   category
 9   saledate                  146385 non-null  category
 10  fiModelDesc               146385 non-null  category
 11  fiBaseModel               146385 non-null  category
 12  fiSecondaryDesc           105451 non-null  category
 13  fiModelDescriptor         24027 non-null   category
 14  ProductSize               71261 non-null   category
 15  fiProductClassDesc        146385 non-null  category
 16  state                     146385 non-null  category
 17  ProductGroup              146385 non-null  category
 18  ProductGroupDesc          146385 non-null  category
 19  Drive_System              42243 non-null   category
 20  Enclosure                 146331 non-null  category
 21  Forks                     67740 non-null   category
 22  Pad_Type                  30257 non-null   category
 23  Ride_Control              58099 non-null   category
 24  Stick                     30257 non-null   category
 25  Transmission              80113 non-null   category
 26  Turbocharged              30257 non-null   category
 27  Hydraulics                115995 non-null  category
 28  Ripper                    49847 non-null   category
 29  Tire_Size                 39822 non-null   category
 30  Coupler                   66070 non-null   category
 31  Track_Type                28533 non-null   category
 32  Undercarriage_Pad_Width   28554 non-null   category
 33  Stick_Length              28534 non-null   category
 34  Thumb                     28538 non-null   category
 35  Pattern_Changer           28533 non-null   category
 36  Grouser_Type              28532 non-null   category
 37  Backhoe_Mounting          37856 non-null   category
 38  Blade_Type                37892 non-null   category
 39  Travel_Controls           37893 non-null   category
 40  Differential_Type         27838 non-null   category
 41  Steering_Controls         27835 non-null   category
 42  date_of_sale              146385 non-null  datetime64[ns]
 43  CarAge                    146385 non-null  int64
dtypes: category(34), datetime64[ns](1), float64(1), int64(8)
memory usage: 17.7 MB
<class 'pandas.core.frame.DataFrame'>
Index: 146385 entries, 0 to 152476
Data columns (total 44 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   146385 non-null  int64
 1   SalePrice                 146385 non-null  int64
 2   MachineID                 146385 non-null  int64
 3   ModelID                   146385 non-null  int64
 4   datasource                146385 non-null  int64
 5   auctioneerID              146385 non-null  int64
 6   YearMade                  146385 non-null  int64
 7   MachineHoursCurrentMeter  22868 non-null   float64
 8   UsageBand                 146385 non-null  int8
 9   saledate                  146385 non-null  int16
 10  fiModelDesc               146385 non-null  int16
 11  fiBaseModel               146385 non-null  int16
 12  fiSecondaryDesc           146385 non-null  int8
 13  fiModelDescriptor         146385 non-null  int8
 14  ProductSize               146385 non-null  int8
 15  fiProductClassDesc        146385 non-null  int8
 16  state                     146385 non-null  int8
 17  ProductGroup              146385 non-null  int8
 18  ProductGroupDesc          146385 non-null  int8
 19  Drive_System              146385 non-null  int8
 20  Enclosure                 146385 non-null  int8
 21  Forks                     146385 non-null  int8
 22  Pad_Type                  146385 non-null  int8
 23  Ride_Control              146385 non-null  int8
 24  Stick                     146385 non-null  int8
 25  Transmission              146385 non-null  int8
 26  Turbocharged              146385 non-null  int8
 27  Hydraulics                146385 non-null  int8
 28  Ripper                    146385 non-null  int8
 29  Tire_Size                 146385 non-null  int8
 30  Coupler                   146385 non-null  int8
 31  Track_Type                146385 non-null  int8
 32  Undercarriage_Pad_Width   146385 non-null  int8
 33  Stick_Length              146385 non-null  int8
 34  Thumb                     146385 non-null  int8
 35  Pattern_Changer           146385 non-null  int8
 36  Grouser_Type              146385 non-null  int8
 37  Backhoe_Mounting          146385 non-null  int8
 38  Blade_Type                146385 non-null  int8
 39  Travel_Controls           146385 non-null  int8
 40  Differential_Type         146385 non-null  int8
 41  Steering_Controls         146385 non-null  int8
 42  date_of_sale              146385 non-null  datetime64[ns]
 43  CarAge                    146385 non-null  int64
dtypes: datetime64[ns](1), float64(1), int16(3), int64(8), int8(31)
memory usage: 17.5 MB

In [22]:
# create X and y
X = df2.drop(columns=['SalePrice'])
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,CarAge
0,1139246,999089,3157,121,3,2004,68.0,1,583,557,...,-1,-1,-1,-1,-1,-1,2,1,2006-11-16,2
1,1139248,117657,77,121,3,1996,4640.0,1,1558,985,...,-1,-1,-1,-1,-1,-1,2,1,2004-03-26,8
2,1139249,434808,7009,121,3,2001,2838.0,0,1242,196,...,-1,-1,-1,-1,-1,-1,-1,-1,2004-02-26,3
3,1139251,1026470,332,121,3,2001,3486.0,0,2165,1772,...,-1,-1,-1,-1,-1,-1,-1,-1,2011-05-19,10
4,1139253,1057373,17311,121,3,2007,722.0,2,2880,1967,...,-1,-1,-1,-1,-1,-1,-1,-1,2009-07-23,2

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
152472    38000
152473    43500
152474    58500
152475    90000
152476    72500
Name: SalePrice, Length: 146385, dtype: int64

In [23]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,CarAge
109015,1440665,1183676,3783,132,1,1999,NaN,-1,942,964,...,-1,-1,-1,-1,-1,-1,2,1,2004-12-02,5
3979,1152584,811696,1599,121,3,2003,4020.0,0,3107,1237,...,-1,-1,-1,0,9,2,-1,-1,2006-08-24,3
60913,1323746,264488,3819,132,1,1986,NaN,-1,1122,982,...,-1,-1,-1,-1,-1,-1,2,1,1989-02-14,3
85216,1387709,1114607,3538,132,1,1999,NaN,-1,2375,447,...,-1,-1,-1,-1,-1,-1,-1,-1,2004-06-10,5
106253,1434651,1404872,1597,132,21,1997,NaN,-1,275,1235,...,-1,-1,-1,0,5,4,-1,-1,2003-10-02,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116359,1453657,1100312,3854,132,1,1980,NaN,-1,3163,1002,...,-1,-1,-1,-1,-1,-1,2,1,2006-08-29,26
125971,1472993,1418199,7511,132,9,1990,NaN,-1,1190,1370,...,3,1,0,-1,-1,-1,-1,-1,2001-02-21,11
109779,1442165,1277211,1133,132,1,1996,NaN,-1,817,316,...,3,1,0,-1,-1,-1,-1,-1,2002-12-11,6
138024,1497913,1498308,77,132,2,1994,NaN,-1,2968,985,...,-1,-1,-1,-1,-1,-1,2,1,2001-08-10,7
128050,1476173,1157760,7277,132,1,1977,NaN,-1,1474,981,...,-1,-1,-1,-1,-1,-1,2,1,2002-03-20,25

In [24]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 23742.857500334725

In [25]:
# create X and y
#drop saledate and MachineHoursCurrentMeter because make problems
X = df2.drop(columns=['SalePrice','date_of_sale'])
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge
0,1139246,999089,3157,121,3,2004,68.0,1,583,557,...,-1,-1,-1,-1,-1,-1,-1,2,1,2
1,1139248,117657,77,121,3,1996,4640.0,1,1558,985,...,-1,-1,-1,-1,-1,-1,-1,2,1,8
2,1139249,434808,7009,121,3,2001,2838.0,0,1242,196,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,3
3,1139251,1026470,332,121,3,2001,3486.0,0,2165,1772,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,10
4,1139253,1057373,17311,121,3,2007,722.0,2,2880,1967,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,2

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
152472    38000
152473    43500
152474    58500
152475    90000
152476    72500
Name: SalePrice, Length: 146385, dtype: int64

In [27]:
print(df2.shape)

(146385, 44)

In [28]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge
109015,1440665,1183676,3783,132,1,1999,NaN,-1,942,964,...,-1,-1,-1,-1,-1,-1,-1,2,1,5
3979,1152584,811696,1599,121,3,2003,4020.0,0,3107,1237,...,-1,-1,-1,-1,0,9,2,-1,-1,3
60913,1323746,264488,3819,132,1,1986,NaN,-1,1122,982,...,-1,-1,-1,-1,-1,-1,-1,2,1,3
85216,1387709,1114607,3538,132,1,1999,NaN,-1,2375,447,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,5
106253,1434651,1404872,1597,132,21,1997,NaN,-1,275,1235,...,-1,-1,-1,-1,0,5,4,-1,-1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116359,1453657,1100312,3854,132,1,1980,NaN,-1,3163,1002,...,-1,-1,-1,-1,-1,-1,-1,2,1,26
125971,1472993,1418199,7511,132,9,1990,NaN,-1,1190,1370,...,23,3,1,0,-1,-1,-1,-1,-1,11
109779,1442165,1277211,1133,132,1,1996,NaN,-1,817,316,...,17,3,1,0,-1,-1,-1,-1,-1,6
138024,1497913,1498308,77,132,2,1994,NaN,-1,2968,985,...,-1,-1,-1,-1,-1,-1,-1,2,1,7
128050,1476173,1157760,7277,132,1,1977,NaN,-1,1474,981,...,-1,-1,-1,-1,-1,-1,-1,2,1,25

In [29]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 23742.857500334725

In [30]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100,random_state=42, n_jobs=-1)
model = model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

def RMSE(y_, y_pred_):
    return ((y_ - y_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y_train, y_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y_test, y_test_pred):.3f}')

Train RMSE: 2807.952
Test RMSE: 7484.927

In [40]:
# Train the Isolation Forest model
from sklearn.ensemble import IsolationForest
iso_forest = IsolationForest(n_estimators=100, contamination=0.01, random_state=42)
iso_forest.fit(X_train)

# Predict anomaly scores and labels on a copy of X_test
X_test_copy = X_test.copy()
df2['anomaly_score'] = iso_forest.decision_function(X)  # Quantitative weirdness
df2['anomaly'] = iso_forest.predict(X)  # Binary anomaly label
df2['anomaly_label'] = df2['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

In [41]:
df2.anomaly.value_counts()

anomaly
 1    144945
-1      1440
Name: count, dtype: int64

In [42]:
df3=df2.copy()
df3.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,date_of_sale,CarAge,anomaly_score,anomaly,anomaly_label
0,1139246,66000,999089,3157,121,3,2004,68.0,1,583,...,-1,-1,-1,2,1,2006-11-16,2,0.033522,1,Normal
1,1139248,57000,117657,77,121,3,1996,4640.0,1,1558,...,-1,-1,-1,2,1,2004-03-26,8,0.040798,1,Normal
2,1139249,10000,434808,7009,121,3,2001,2838.0,0,1242,...,-1,-1,-1,-1,-1,2004-02-26,3,0.067085,1,Normal
3,1139251,38500,1026470,332,121,3,2001,3486.0,0,2165,...,-1,-1,-1,-1,-1,2011-05-19,10,0.050832,1,Normal
4,1139253,11000,1057373,17311,121,3,2007,722.0,2,2880,...,-1,-1,-1,-1,-1,2009-07-23,2,0.037159,1,Normal

In [43]:
print(df3.columns)

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Track_Type', 'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb',
       'Pattern_Changer', 'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type',
       'Travel_Controls', 'Differential_Type', 'Steering_Controls',
       'date_of_sale', 'CarAge', 'anomaly_score', 'anomaly', 'anomaly_label'],
      dtype='object')

In [44]:
print(df3.shape)

(146385, 47)

In [45]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

for col in df3.select_dtypes(['object']):
    df3[col] = df2[col].astype('category')


for col in df3.select_dtypes(['category']):
    df3[col] = df3[col].cat.codes
df3 = df3[df2.anomaly==1].copy()
X2 = df3.drop(columns=['SalePrice', 'anomaly_label', 'anomaly', 'anomaly_score','date_of_sale'])
X2 = pd.get_dummies(X2, drop_first=True)
y2 = df3['SalePrice']
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3, random_state=42)

model2 = RandomForestRegressor()
model2.fit(X2, y2)
y2_test_pred = model2.predict(X2_test)
y2_train_pred = model2.predict(X2_train)
def RMSE(y2_, y2_pred_):
    return ((y2_ - y2_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y2_train, y2_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y2_test, y2_test_pred):.3f}')

Train RMSE: 2728.736
Test RMSE: 2715.737

In [ ]:
import joblib
model_data2 = [model2, iso_forest]


# Save the model with compression (compression level can be from 0 to 9)
joblib.dump(model_data2, '/content/4.2.25_#14.pkl')

['/content/4.2.25_#13.pkl']

In [35]:

df_valid = pd.read_csv("Valid.csv")

In [36]:
df_valid=df_valid.drop(columns=['Hydraulics_Flow', 'Grouser_Tracks', 'Coupler_System', 'Pushblock',
       'Blade_Extension', 'Tip_Control', 'Scarifier', 'Engine_Horsepower',
       'Enclosure_Type', 'Blade_Width', 'fiModelSeries'])
print(df_valid.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelDescriptor',
       'ProductSize', 'fiProductClassDesc', 'state', 'ProductGroup',
       'ProductGroupDesc', 'Drive_System', 'Enclosure', 'Forks', 'Pad_Type',
       'Ride_Control', 'Stick', 'Transmission', 'Turbocharged', 'Hydraulics',
       'Ripper', 'Tire_Size', 'Coupler', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls'],
      dtype='object')

In [37]:
print(df_valid.shape)

(11573, 41)

In [38]:

# Convert 'date_of_sale' to datetime format (ensure the correct format is used for 'saledate')
df_valid['date_of_sale'] = pd.to_datetime(df_valid['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Calculate car age, excluding rows where 'YearMade' is 1000
df_valid['CarAge'] = df_valid.apply(lambda row: (row['date_of_sale'] - pd.to_datetime(str(row['YearMade']), format='%Y')).days // 365 if row['YearMade'] != 1000 else np.nan, axis=1)

# View the updated dataframe
print(df_valid.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter UsageBand       saledate fiModelDesc  ...  \
0                       0.0       NaN  1/5/2012 0:00        375L  ...
1                    4412.0    Medium  1/5/2012 0:00    TX300LC2  ...
2                   10127.0    Medium  1/5/2012 0:00       270LC  ...
3                    4682.0       Low  1/5/2012 0:00      892DLC  ...
4                    8150.0    Medium  1/4/2012 0:00        544H  ...

                 Thumb      Pattern_Changer Grouser_Type Backhoe_Mounting  \
0  None or Unspecified  None or Unspecified       Double              NaN
1  None or Unspecified                  Yes       Double              NaN
2  None or Unspecified  None or Unspecified       Double              NaN
3  None or Unspecified  None or Unspecified       Double              NaN
4                  NaN                  NaN          NaN              NaN

  Blade_Type Travel_Controls Differential_Type Steering_Controls date_of_sale  \
0        NaN             NaN               NaN               NaN   2012-01-05
1        NaN             NaN               NaN               NaN   2012-01-05
2        NaN             NaN               NaN               NaN   2012-01-05
3        NaN             NaN               NaN               NaN   2012-01-05
4        NaN             NaN          Standard      Conventional   2012-01-04

  CarAge
0    NaN
1    6.0
2   12.0
3    NaN
4   10.0

[5 rows x 43 columns]

In [46]:
print(df_valid.shape)
print(X2.shape)

(11573, 43)
(144945, 42)

In [47]:
print(df_valid.columns)
print(X2.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelDescriptor',
       'ProductSize', 'fiProductClassDesc', 'state', 'ProductGroup',
       'ProductGroupDesc', 'Drive_System', 'Enclosure', 'Forks', 'Pad_Type',
       'Ride_Control', 'Stick', 'Transmission', 'Turbocharged', 'Hydraulics',
       'Ripper', 'Tire_Size', 'Coupler', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'date_of_sale', 'CarAge'],
      dtype='object')
Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelDescriptor',
       'ProductSize', 'fiProductClassDesc', 'state', 'ProductGroup',
       'ProductGroupDesc', 'Drive_System', 'Enclosure', 'Forks', 'Pad_Type',
       'Ride_Control', 'Stick', 'Transmission', 'Turbocharged', 'Hydraulics',
       'Ripper', 'Tire_Size', 'Coupler', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge'],
      dtype='object')

In [48]:

for col in df_valid.select_dtypes(['object']):
    df_valid[col] = df_valid[col].astype('category')

for col in df_valid.select_dtypes(['category']):
    df_valid[col] = df_valid[col].cat.codes
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 43 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelDescriptor         11573 non-null  int8
 13  ProductSize               11573 non-null  int8
 14  fiProductClassDesc        11573 non-null  int8
 15  state                     11573 non-null  int8
 16  ProductGroup              11573 non-null  int8
 17  ProductGroupDesc          11573 non-null  int8
 18  Drive_System              11573 non-null  int8
 19  Enclosure                 11573 non-null  int8
 20  Forks                     11573 non-null  int8
 21  Pad_Type                  11573 non-null  int8
 22  Ride_Control              11573 non-null  int8
 23  Stick                     11573 non-null  int8
 24  Transmission              11573 non-null  int8
 25  Turbocharged              11573 non-null  int8
 26  Hydraulics                11573 non-null  int8
 27  Ripper                    11573 non-null  int8
 28  Tire_Size                 11573 non-null  int8
 29  Coupler                   11573 non-null  int8
 30  Track_Type                11573 non-null  int8
 31  Undercarriage_Pad_Width   11573 non-null  int8
 32  Stick_Length              11573 non-null  int8
 33  Thumb                     11573 non-null  int8
 34  Pattern_Changer           11573 non-null  int8
 35  Grouser_Type              11573 non-null  int8
 36  Backhoe_Mounting          11573 non-null  int8
 37  Blade_Type                11573 non-null  int8
 38  Travel_Controls           11573 non-null  int8
 39  Differential_Type         11573 non-null  int8
 40  Steering_Controls         11573 non-null  int8
 41  date_of_sale              11573 non-null  datetime64[ns]
 42  CarAge                    10367 non-null  float64
dtypes: datetime64[ns](1), float64(2), int16(2), int64(6), int8(32)
memory usage: 1.2 MB

In [49]:
print(X2.shape)  # Shape of the data you're passing to decision_function
print(df_valid.shape)  # Shape of the DataFrame you're adding the 'anomaly_score' to

(144945, 42)
(11573, 43)

In [50]:
df_valid1=df_valid.drop(columns=['date_of_sale'])
df_valid1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelDescriptor         11573 non-null  int8
 13  ProductSize               11573 non-null  int8
 14  fiProductClassDesc        11573 non-null  int8
 15  state                     11573 non-null  int8
 16  ProductGroup              11573 non-null  int8
 17  ProductGroupDesc          11573 non-null  int8
 18  Drive_System              11573 non-null  int8
 19  Enclosure                 11573 non-null  int8
 20  Forks                     11573 non-null  int8
 21  Pad_Type                  11573 non-null  int8
 22  Ride_Control              11573 non-null  int8
 23  Stick                     11573 non-null  int8
 24  Transmission              11573 non-null  int8
 25  Turbocharged              11573 non-null  int8
 26  Hydraulics                11573 non-null  int8
 27  Ripper                    11573 non-null  int8
 28  Tire_Size                 11573 non-null  int8
 29  Coupler                   11573 non-null  int8
 30  Track_Type                11573 non-null  int8
 31  Undercarriage_Pad_Width   11573 non-null  int8
 32  Stick_Length              11573 non-null  int8
 33  Thumb                     11573 non-null  int8
 34  Pattern_Changer           11573 non-null  int8
 35  Grouser_Type              11573 non-null  int8
 36  Backhoe_Mounting          11573 non-null  int8
 37  Blade_Type                11573 non-null  int8
 38  Travel_Controls           11573 non-null  int8
 39  Differential_Type         11573 non-null  int8
 40  Steering_Controls         11573 non-null  int8
 41  CarAge                    10367 non-null  float64
dtypes: float64(2), int16(2), int64(6), int8(32)
memory usage: 1.1 MB

In [51]:
print(df_valid1.columns)
print(X2.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelDescriptor',
       'ProductSize', 'fiProductClassDesc', 'state', 'ProductGroup',
       'ProductGroupDesc', 'Drive_System', 'Enclosure', 'Forks', 'Pad_Type',
       'Ride_Control', 'Stick', 'Transmission', 'Turbocharged', 'Hydraulics',
       'Ripper', 'Tire_Size', 'Coupler', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge'],
      dtype='object')
Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelDescriptor',
       'ProductSize', 'fiProductClassDesc', 'state', 'ProductGroup',
       'ProductGroupDesc', 'Drive_System', 'Enclosure', 'Forks', 'Pad_Type',
       'Ride_Control', 'Stick', 'Transmission', 'Turbocharged', 'Hydraulics',
       'Ripper', 'Tire_Size', 'Coupler', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge'],
      dtype='object')

In [52]:
# Step 1: Prepare df_valid1 by dropping unnecessary columns that shouldn't be in the features
df_valid1_processed = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label', 'date_of_sale'], errors='ignore')

# Check the first few rows to verify
print(df_valid1_processed.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 42 columns]

In [53]:
# Step 2: Apply one-hot encoding to the processed validation data
df_valid1_processed = pd.get_dummies(df_valid1_processed, drop_first=True)

# Check the first few rows to verify the encoding
print(df_valid1_processed.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 42 columns]

In [54]:
# Step 3: Align the columns between the validation set and the training set (X2)
df_valid1_processed = df_valid1_processed.reindex(columns=X2.columns, fill_value=0)

# Check the first few rows to verify the alignment
print(df_valid1_processed.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 42 columns]

In [55]:
# Step 4: Compute anomaly scores and predictions for df_valid1_processed
df_valid1['anomaly_score'] = iso_forest.decision_function(df_valid1_processed)
df_valid1['anomaly'] = iso_forest.predict(df_valid1_processed)

# Map anomaly predictions to labels (Normal/Anomaly)
df_valid1['anomaly_label'] = df_valid1['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

# Check the first few rows to verify the anomaly scores and predictions
print(df_valid1[['anomaly_score', 'anomaly', 'anomaly_label']].head())

   anomaly_score  anomaly anomaly_label
0       0.048588        1        Normal
1      -0.015517       -1       Anomaly
2       0.031913        1        Normal
3       0.035419        1        Normal
4       0.031895        1        Normal

In [56]:
# Step 6: Prepare the features for prediction (drop anomaly-related columns again)
X_valid = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label', 'date_of_sale'], errors='ignore')

# Apply one-hot encoding to match the training set
X_valid = pd.get_dummies(X_valid, drop_first=True)

# Align columns to match the training set (X2)
X_valid = X_valid.reindex(columns=X2.columns, fill_value=0)

# Check the first few rows to verify
print(X_valid.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Stick_Length  Thumb  Pattern_Changer  Grouser_Type  Backhoe_Mounting  \
0            20      2                1             0                -1
1             6      2                2             0                -1
2             6      2                1             0                -1
3            20      2                1             0                -1
4            -1     -1               -1            -1                -1

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

[5 rows x 42 columns]

In [57]:
# Step 7: Make predictions using the trained RandomForestRegressor model
y_pred = model2.predict(X_valid)

# Optionally, add the predictions to df_valid1
df_valid1['y_pred'] = y_pred

# Check the first few rows of the validation data with predictions
print(df_valid1[['y_pred']].head())

    y_pred
0  18495.0
1  69805.0
2  32700.0
3  18715.0
4  33565.0

In [58]:
# Step 8: Drop unwanted columns after adding predictions
df_valid1 = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label'], errors='ignore')

# Step 9: Check the resulting DataFrame
print(df_valid1.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  Thumb  \
0                       0.0         -1        19          293  ...      2
1                    4412.0          2        19         1611  ...      2
2                   10127.0          2        19          160  ...      2
3                    4682.0          1        19          686  ...      2
4                    8150.0          2        18          397  ...     -1

   Pattern_Changer  Grouser_Type  Backhoe_Mounting  Blade_Type  \
0                1             0                -1          -1
1                2             0                -1          -1
2                1             0                -1          -1
3                1             0                -1          -1
4               -1            -1                -1          -1

   Travel_Controls  Differential_Type  Steering_Controls  CarAge   y_pred
0               -1                 -1                 -1     NaN  18495.0
1               -1                 -1                 -1     6.0  69805.0
2               -1                 -1                 -1    12.0  32700.0
3               -1                 -1                 -1     NaN  18715.0
4               -1                  2                  1    10.0  33565.0

[5 rows x 43 columns]

In [60]:
df_valid1.to_csv('clean_pred_V14.csv', index=False)